.App {
  text-align: center;
  margin-top: 20px;
}

form {
  margin: 20px;
}

input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.outerDiv {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

/* Completed ToDo Styling */
.completed {
  text-decoration: line-through;
  color: gray;
  background-color: #f0f0f0;
}

.delete-btn {
  color: red;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.delete-btn:hover {
  color: darkred;
  transform: scale(1.2);
}

.tabsouter{
  width: 1170px;
  margin: auto;
}

.tabsouter ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}
.tabsouter ul li button{
  background: #e4e4e4;
  border: none;
  color: #4CAF50;
  padding: 0.5 rem 20px;
  margin-right: 18px;
  font-weight: 600;
  cursor: pointer;
}

.activeBtn{
  color: #367439 !important;
  background-color: rgb(238, 249, 224) !important;
}